<!DOCTYPE html>
<html>

  <head>
    <!-- Sources -->
    <link href="swiper.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />

    <script src="https://code.angularjs.org/1.3.0/angular.js"></script>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    
    <script src="swiper.js"></script>
    <script src="script.js"></script>
  </head>

  <body ng-app="myApp">
    <div ng-controller="TestCtrl">

    <!-- Shows buttons at the top. Ng-click defines which slide they show 
    when you click on them. -->
    <nav class="Features35mm-Navigation">
        <button ng-click="setSlickIndex(0)">Home</button>
        <button ng-click="setSlickIndex(1)">Info</button>
        <button ng-click="setSlickIndex(2)">1996</button>
        <button ng-click="setSlickIndex(3)">1997</button>
        <button ng-click="setSlickIndex(4)">1998</button>
        <button ng-click="setSlickIndex(5)">1999</button>
        <button ng-click="setSlickIndex(6)">2000</button>
        <button ng-click="setSlickIndex(7)">2001</button>
        <button ng-click="setSlickIndex(8)">2002</button>
        <button ng-click="setSlickIndex(9)">2003</button>
        <button ng-click="setSlickIndex(10)">2004</button>
        <button ng-click="setSlickIndex(11)">2005</button>
        <button ng-click="setSlickIndex(12)">All Projects</button>
    </nav>
    
		<section id="features">
			
			<div class="swiper-container" swiper-directive>
				<div class="swiper-wrapper">
				<!-- Shows content of each slide--> 
            <div class="swiper-slide">
					  <div class="swiper-slide">
					    <img src="http://s12.postimg.org/qqx6gz6st/zombie_researchlogo.png" border="0" alt="when we are all zombies everyone wins!" />
			  		</div>
					</div>
					
				  		<div class="swiper-slide">
				  		<p>In my thesis I explore some of the different ways that the American post-9/11 climate of fear was 
				  		cultivated and continues to be perpetuated by the US government using the media.  
					  This perpetuation of a national climate of fear is one of the drivers behind the American obsession with what I refer to as
					  zombie culture.I believe one of the methods used to cultivate this national climate of fear was leaders and
					  legislators successfully changing the language used to talk about immigration. Before 9/11 the language
					  used to talk about immigration described an America open to diversity and inclusion. Post-9/11 the
					  language used to talk about immigration described an America needing to protect itself
					  from anyone trying to enter the country legally or illegally as a possible security threat.
					  <br><br>
					  With this project I wanted to explore a possible connection between 
					  key words recorded in the congressional record for specific years and the output of American zombie
					  films for those same years.
					  The key words I searched for are "immigration and safety" in any single recorded instance. 
					  I have searched 5 years pre 9/11 and 5 years post 9/11,
					  in an attempt to compare the pre-9/11 and post-9/11 eras.
					  <br><br>
					  Click the year buttons at the top of the page to find out how many instances of the key words 
					  were recorded for that year and how many American zombie films were released that same year.
					  In each section click the number for information.
					  The last button- Projects will take you to all of the projects
					  I have made or helped make during this semester.
					  </p>
					  
					  
					</div>
						        
				  	<div class="swiper-slide">
				  		<a href="https://www.themoviedb.org/discover/movie?page=1&language=en&year=1996&primary_release_year=&sort_by=popularity.desc&vote_count.gte=0&with_genres=&with_keywords=zombies&media_type=movie" target="_blank">
					    <h1>test</h1>
					    
					    </a>
					    
					    <a href="https://www.themoviedb.org/discover/movie?page=1&language=en&year=1996&primary_release_year=&sort_by=popularity.desc&vote_count.gte=0&with_genres=&with_keywords=zombies&media_type=movie" target="_blank">
					    <img src= "http://s30.postimg.org/vxyfaq23l/1996_zombie.png" target="_blank" /></a>
					    </div>
					    
					    <div class="swiper-slide">
					      <a href="https://www.themoviedb.org/discover/movie?page=1&language=en&year=1996&primary_release_year=&sort_by=popularity.desc&vote_count.gte=0&with_genres=&with_keywords=zombies&media_type=movie" target="_blank">
					    <h1>test</h1>
					    </a>
				  		</div>

              <div class="swiper-slide">
					      <a href="https://www.themoviedb.org/discover/movie?page=1&language=en&year=1996&primary_release_year=&sort_by=popularity.desc&vote_count.gte=0&with_genres=&with_keywords=zombies&media_type=movie" target="_blank">
					    <h1>test</h1>
					    </a>
				  		</div>
				  		
				  		<div class="swiper-slide">
					      <a href="https://www.themoviedb.org/discover/movie?page=1&language=en&year=1996&primary_release_year=&sort_by=popularity.desc&vote_count.gte=0&with_genres=&with_keywords=zombies&media_type=movie" target="_blank">
					    <h1>test</h1>
					    </a>
				  		</div>
				  		
				  		<div class="swiper-slide">
					      <a href="https://www.themoviedb.org/discover/movie?page=1&language=en&year=1996&primary_release_year=&sort_by=popularity.desc&vote_count.gte=0&with_genres=&with_keywords=zombies&media_type=movie" target="_blank">
					    <h1>test</h1>
					    </a>
				  		</div>
				  		
				  		<div class="swiper-slide">
					      <a href="https://www.themoviedb.org/discover/movie?page=1&language=en&year=1996&primary_release_year=&sort_by=popularity.desc&vote_count.gte=0&with_genres=&with_keywords=zombies&media_type=movie" target="_blank">
					    <h1>test</h1>
					    </a>
				  		</div>
				  		
				  		<div class="swiper-slide">
					      <a href="https://www.themoviedb.org/discover/movie?page=1&language=en&year=1996&primary_release_year=&sort_by=popularity.desc&vote_count.gte=0&with_genres=&with_keywords=zombies&media_type=movie" target="_blank">
					    <h1>test</h1>
					    </a>
				  		</div>
			        
			        <div class="swiper-slide">
					      <a href="https://www.themoviedb.org/discover/movie?page=1&language=en&year=1996&primary_release_year=&sort_by=popularity.desc&vote_count.gte=0&with_genres=&with_keywords=zombies&media_type=movie" target="_blank">
					    <h1>test</h1>
					    </a>
				  		</div>
				  		
				  		<div class="swiper-slide">
					      <a href="https://www.themoviedb.org/discover/movie?page=1&language=en&year=1996&primary_release_year=&sort_by=popularity.desc&vote_count.gte=0&with_genres=&with_keywords=zombies&media_type=movie" target="_blank">
					    <h1>test</h1>
					    </a>
				  		</div>
				  		
				  		<div class="swiper-slide">
					      <a href="https://www.themoviedb.org/discover/movie?page=1&language=en&year=1996&primary_release_year=&sort_by=popularity.desc&vote_count.gte=0&with_genres=&with_keywords=zombies&media_type=movie" target="_blank">
					    <h1>test</h1>
					    </a>
				  		</div>
				  		
				  		<div class="swiper-slide">
					      <a href="http://plnkr.co/edit/CKQrcO3EiVTO5VQiieUu?p=preview" target="_blank">
					    <h1>* Zombie Choose Your Own Adventure Game</h1>
					    </a>
					    <a href="http://plnkr.co/edit/QJAcVBRMVQJCgsUM6IIf?p=preview" target="_blank">
					    <h2>* Dream Session- Coded 3 Ways</h2>
					    </a>
				  		</div>
			    </section>
			<!-- Shows 'pages' at the bottom -->
     <div class="swiper-pagination"></div>

    </div>

  </body>
</html>

